* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-image: url(./img/bg_main.png);
    height: 100%;
    padding-top: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 24px;
    min-height: 80px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

button:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    min-height: 80px;
    left: 0;
    width: 100%;
    position: absolute;
    transform: translate(8px, 8px);
    transition: transform .1s ease-out;
    z-index: -1;
}

button:hover:after {
    transform: translate(6px, 6px);
}

button:active {
    position: relative;
    top: 3px;
    outline: 0;
}

button:hover {
    background-color: #e3d0ce;
    outline: 0;
}
