* {
    margin: 0 auto;
}

.random {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    background-image: url(randomaizer/img/lowpoly.png);
}

.title {
    font-size: 40px;
    margin-bottom: 30px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input, .result {
    margin-top: 5px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 40px;
    padding: 5px 15px;
}

.generate {
    border-radius: 40px;
    border: none;
    padding: 15px 40px;
    font-size: 20px;
    color: #fff;
    background-color: rgb(255, 145, 0);
    margin-bottom: 30px;
}

.generate:hover {
    background-color: rgb(253, 174, 71);
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: black;
    text-align: center;
    min-width: 200px;
    padding: 5px 20px;
    font-size: 26px;
}

.unique {
    font-size: 16px;
}