* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Noto Sans", "Helvetica", sans-serif;
    font-size: 14px;
    background-image: url(img/bgmain.png);
    height: 100%;
}

.calculator {
    width: 350px;
    height: auto;
    margin: 100px auto 0;
    overflow: hidden;
    border-radius: 20px;
    border: 5px solid rgb(155, 155, 155);
    box-shadow: 3px 3px 3px rgb(157, 157, 157);
}

.top {
    position: relative;
    height: 150px;
    background-color: white;
}

.top .unit {
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(117, 117, 117);
}

.top .screen {
    position: relative;
    width: 100%;
    top: 20%;
    height: 80%;
}

.screen > div  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 5px;
    text-align: right;
}

.screen .input {
    color: rgb(117, 117, 117);
    height: 60%;
    font-size: 40px;
}

.screen .result {
    color: #9e9e9e;
    font-size: 20px;
    height: 40%;
}

.bottom {
    background-color: rgb(45, 45, 45);
    height: 350px;
    color: #fff;
    cursor: pointer;
    padding: 5px;
}

.bottom div {
    position: relative;
    height: 100%;
    float: left;
    display: flex;
}

.keys {
    width: 75%;
}


.keys .column {
    display: flex;
    flex-grow: 1;
    margin: 0 5px;
}

.keys .column, .operators {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 5px;  
}

.keys .column button, .operators button {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    font-size: 30px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(74, 74, 74);
    border: none;
}

.keys .column button:hover, #delete:hover {
    background-color: rgba(134, 134, 134);
}

.operators {
    width: 18%;
    font-size: 30px;
    margin-left: 14px;
}

.operators button, #equals {
    background-color: rgb(255, 165, 0);
}

.operators button:hover, #equals:hover {
    background-color: rgb(255, 210, 76);
}

#delete {
    background-color: rgb(187, 187, 187);
    color: rgb(55, 55, 55);
}

#delete:hover {
    color: rgb(213, 213, 213);
}

button:active {
    box-shadow: 0 2px rgb(102, 102, 102);
    transform: translateY(2px);
    transition-duration: .3;
}